# Python Question

Q1. Given below are the 2 dataset links. Please get the data from the links and write a code to get the result in the sample output in .CSV file format

In [1]:
#Importing the required libraries
import pandas as pd
from numpy import nan
import json

In [2]:
activity_data = pd.read_csv("activity_data.csv")

In [3]:
activity_data.head()   #We observe all values in json/key value paris, so it will easy to convert to dict and work

,media_type,watched,rating,watchlist,profile_id,id,hide
0,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
1,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'NULL': True}, 'timestamp': {...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '820_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
2,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '402_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
3,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '87_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
4,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '810_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."

In [4]:
activity_data.shape[0]

5

In [5]:
data = pd.read_csv("data.csv")   #Read the second Movies data csv fil

In [6]:
data.shape

(47, 4)

In [7]:
data.head(2)

    _type  _id     _score                                            _source
0  movies   97  20.848059  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1  movies  507  10.478757  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...

In [8]:
pd.set_option("display.max_colwidth", 1)
data["_source"].head(1)

0    {'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False}
Name: _source, dtype: object

In [9]:
print(data["_source"][0][:-1])

{'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False

In [10]:
# We have output format to have 4 more key value pairs, so converting each value of target column _source to dictionary and
# map the new key/value pairs
for cnt in range(47):
    data['_source'][cnt]=eval(data['_source'][cnt])
    data['_source'][cnt]['rating'] =nan
    data['_source'][cnt]['hide'] =nan
    data['_source'][cnt]['watchlist'] =nan
    data['_source'][cnt]['watched'] =nan

<ipython-input-10-6dda5d21d60b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['_source'][cnt]=eval(data['_source'][cnt])

In [11]:
type(data['_source'][0])  #Done converting to a dictionary

dict

In [12]:
print(data["_source"][0].keys())

dict_keys(['cast', 'streaming_modes', 'thumbnail_id', 'media_type', 'year', 'genres', 'ratings', 'language', 'id', 'services', 'title_name', 'sooper_original', 'rating', 'hide', 'watchlist', 'watched'])

In [13]:
activity_data.iloc[0]['rating']

"{'M': {'value': {'NULL': True}, 'timestamp': {'NULL': True}}}"

In [17]:
cols = activity_data.columns

In [18]:
#For easy traversing converting the activity_data also to dictionary values
# the movie dataframe will be joined with this dataframe using the id column to get the values
for cnt in range(activity_data.shape[0]):
    for cname in cols:
        activity_data.iloc[cnt][cname] = eval(activity_data.iloc[cnt][cname])

In [19]:
(activity_data.iloc[0]['rating']['M']['value'])

{'NULL': True}

In [20]:
type(activity_data["rating"][0]) # converted to dictionary

dict

In [21]:
for ctr in range(5):
    id=int(activity_data["id"][ctr]["S"].split("_")[0])
    pos=data[data["_id"]==id].index[0]
# To see in which row positions alone value getting updated instead of nan we did before already
    print(pos)
    if "NULL" not in activity_data["rating"][ctr]["M"]["value"]:
        data["_source"][pos]["rating"]=(activity_data["rating"][ctr]["M"]["value"]["S"])
    if "NULL" not in activity_data["hide"][ctr]["M"]["value"]:
        data["_source"][pos]["hide"]=(activity_data["hide"][ctr]["M"]["value"]["S"])
    if "NULL" not in activity_data["watched"][ctr]["M"]["value"]:
        data["_source"][pos]["watched"]=(activity_data["watched"][ctr]["M"]["value"]["S"])
    if "NULL" not in activity_data["watchlist"][ctr]["M"]["value"]:
        data["_source"][pos]["watchlist"]=(activity_data["watchlist"][ctr]["M"]["value"]["S"])

12
23
27
34
9

In [22]:
print(data["_source"][12])   #Observe watchlist is 0 instead of nan

{'cast': ['Tom Cruise', 'Kelly McGillis', 'Val Kilmer', 'Anthony Edwards', 'Tom Skerritt', 'Michael Ironside', 'John Stockwell', 'Barry Tubb', 'Rick Rossovich', 'Tim Robbins', 'Meg Ryan', 'Whip Hubley', 'Adrian Pasdar', 'James Tolkan', 'Clarence Gilyard Jr.', 'Randall Brady', 'Duke Stroud', 'Brian Sheehan', 'Ron Clark'], 'streaming_modes': ['Subscription', 'Pay & Watch'], 'thumbnail_id': {'mob': '744-mob-w342-xUuHj3CgmZQ9P2cMaqQs4J0d4Zc', 'tv': '744-tv-w780-xUuHj3CgmZQ9P2cMaqQs4J0d4Zc', 'web': '744-web-w500-xUuHj3CgmZQ9P2cMaqQs4J0d4Zc'}, 'media_type': 'movies', 'year': '1986', 'genres': ['Action', 'Drama'], 'ratings': {'internet_movie_database': '6.9/10'}, 'language': 'English', 'id': '744', 'services': ['Apple iTunes', 'Jio Cinema'], 'title_name': 'Top Gun', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': '0', 'watched': nan}

In [23]:
# Now let's read the output csv file

output_data = pd.read_csv("output.csv") 
output_data.head(2)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 _source
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}
1  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-Hugues Anglade', 'Tai Thai', 'Bruce Ramsay', 'Kario Salem', 'Salvator Xuereb', 'Gary Kemp', 'Martin Raymond', 'Eric Pascal Chaltiel', 'Cecilia Peck', 'Ron Jeremy', 'Gladys Holland', 'Kimberly Beck', 'Djimon Hounsou', 'Annette Goodman'], 'streaming_modes': None, 'thumbnail_id': {'mob': '507-mob-w342-sbzhigU1L5C9xJUUEAv1P2FlGfW', 'tv': '507-tv-w780-sbzhigU1L5C9xJUUEAv1P2FlGfW', 'web': '507-web-w500-sbzhigU1L5C9xJUUEAv1P2FlGfW'}, 'media_type': 'movies', 'year': '1993', 'genres': ['Action', 'Crime', 'Drama', 'Thriller'], 'ratings': {'internet_movie_database': '6.5/10'}, 'language': 'English', 'id': '507', 'services': None, 'title_name': 'Killing Zoe', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}

In [24]:
final_df = pd.DataFrame(data["_source"])
#data4=pd.DataFrame(data1,columns=['_source'])
final_df.head(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         _source
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}

In [25]:
output_data.head(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         _source
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', 'David Warner', 'Cindy Morgan', 'Barnard Hughes', 'Dan Shor', 'Peter Jurasik', 'Tony Stephano', 'Craig Chudy', 'Vince Deadrick Jr.', 'Sam Schatz', 'Michael Dudikoff'], 'streaming_modes': ['Subscription'], 'thumbnail_id': {'mob': '97-mob-w342-zwSFEczP7AzqugAHHIX3zHniT0t', 'tv': '97-tv-w780-zwSFEczP7AzqugAHHIX3zHniT0t', 'web': '97-web-w500-zwSFEczP7AzqugAHHIX3zHniT0t'}, 'media_type': 'movies', 'year': '1982', 'genres': ['Science Fiction', 'Action', 'Adventure'], 'ratings': {'internet_movie_database': '6.8/10'}, 'language': 'English', 'id': '97', 'services': ['Jio Cinema'], 'title_name': 'Tron', 'sooper_original': False, 'rating': nan, 'hide': nan, 'watchlist': nan, 'watched': nan}

In [26]:
# As our final dataframe was converted to a dict, we will convert the output data also for comparison
for cnt in range(output_data.shape[0]):
    output_data['_source'][cnt]=eval(output_data['_source'][cnt])

In [27]:
type(output_data['_source'][0])

dict

In [28]:
final_df.equals(output_data)

True

# Therefore we have both with equal contents

In [29]:
data["_source"].to_csv('output_final.csv',index=False)   # Convert the dataframe to a csv file